DATABASE_URL="postgresql://postgres:postgres@localhost:5432/inkwell"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
ANTHROPIC_API_KEY=""
RESEND_API_KEY=""
RESEND_FROM_EMAIL="noreply@yourdomain.com"
